{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "node": true,
    "es2020": true,
    "commonjs": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react-hooks"
  ],
  "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "allowImportExportEverywhere": true
      }
    },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "jsx-a11y/label-has-associated-control": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "comma-dangle": 0,
    "react/jsx-wrap-multilines": 0
  }
}
